@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

:root {
    --main-font: 'Roboto', sans-serif;
    --background-image: url("https://scontent-cdt1-1.xx.fbcdn.net/v/t31.0-8/s960x960/22382420_1454564661317197_6448945113044088703_o.jpg?_nc_cat=105&_nc_sid=dd9801&_nc_ohc=frWs3j1DdlwAX83EYxe&_nc_ht=scontent-cdt1-1.xx&_nc_tp=7&oh=650d9e879e0ded90123f19fd4d6dbc81&oe=5F032618");
    --text-color: black;

    --nav-image-bg-color: white;
    --nav-background: linear-gradient(180deg, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0.2) 100%);
    --footer-background: linear-gradient(0deg, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0.6) 100%);
    --border-color: black;
    --link-color: black;
    --actus-bg-color: #fbeb4b;
    --button-color: #fbeb4b;
    --link-color: #00214d;
    --link-filter: invert(9%) sepia(30%) saturate(6931%) hue-rotate(202deg) brightness(98%) contrast(105%);

    --active-tab: linear-gradient(180deg, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0.5) 100%);
}

main section {
    width: 32vw;
    min-height: 15vw;
    background-color: var(--actus-bg-color);
    display: inline-block;
    box-shadow: 4px 4px 4px #00000050;
}

.white-background {
    background-color: rgba(255, 255, 255, .9);
    padding: 1em;
}

main section h1 {
    margin: 1em 0 1em 1em;
}

main section p {
    margin: 2em;
}

main.articles {
    display: flex;
    flex-wrap: wrap;
}

main>a {
    display: inline-block;
    margin: 1em;
}

main section>img {
    float: right;
    margin: 1em;
    max-width: 40%;
}

main section:hover {
    animation-name: tuile;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    z-index: 1;
}

@keyframes tuile {
    from {
        transform: none;
    }

    to {
        transform: scale(1.05);
    }
}