:root {
    --main-font: Arial, Helvetica, sans-serif;
    --background-image: #555555;
    --text-color: white;

    --nav-image-bg-color: white;
    --nav-background: linear-gradient(to bottom, #222222, #111111);
    --footer-background: linear-gradient(to bottom, #222222, #111111);
    --border-color: transparent;
    --link-color: #245874;
    --actus-bg-color: #cccccc;
    --button-color: #245874;

    --active-tab: #111111;
}

main {
    background: #eeeeee;
    box-shadow: 4px 4px 4px #222222;
    border: solid 10px white;
}

main>a {
    text-decoration: none;
}

main section {
    overflow: hidden;
    border-radius: 5px;
    background-color: var(--actus-bg-color);
    margin: 1em;
}

main section h1 {
    margin: 1em 0 1em 1em;
}

main section p {
    margin: 2em;
}

main section>img {
    position: relative;
    float: right;
    margin: 1em;
    max-width: 15em;
    max-height: 10em;
}

.main-nav li a {
    color: var(--background-image) !important;
}

.main-nav li a:hover {
    text-decoration: none !important;
    color: var(--text-color) !important;
}

nav {
    font-size: 14px;
}

main section p>img {
    filter: invert(27%) sepia(68%) saturate(444%) hue-rotate(157deg) brightness(93%) contrast(92%);
}