@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    background-image: url("https://scontent-cdt1-1.xx.fbcdn.net/v/t31.0-8/s960x960/22382420_1454564661317197_6448945113044088703_o.jpg?_nc_cat=105&_nc_sid=dd9801&_nc_ohc=frWs3j1DdlwAX83EYxe&_nc_ht=scontent-cdt1-1.xx&_nc_tp=7&oh=650d9e879e0ded90123f19fd4d6dbc81&oe=5F032618");
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

main {
    margin: 10% auto 0 auto;
    width: 50%;
}

header, 
body {
    margin: 0;
}

header nav li {
    display: inline-block;
}

.main-nav > * {
    display: inline-block;
}

.main-nav {
    padding: 0;
}

.main-nav ul {
    flex: 4;
    margin: 0;
    padding: 0;
}

.main-nav li {
    float: left;
    padding: 0 5px;
}

.main-nav li a {
    line-height: 3em;
    font-weight: 100;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    padding: 1em 0;
}

    .main-nav li a:hover {
        text-decoration: black solid underline;
    }

    .main-nav li:not(:first-child) {
        border-left: 1px solid black;
    }

    .main-nav:first-child {
        float: left;
        border-left: 0;
    }

    .main-nav:first-child img {
        height: 5em;
        padding: 0 2em;
        background-color: white;
    }    

.social-nav {
    flex: 1;
    margin: 0 2em 0 0;
    padding: 0;
}

.social-nav li {
    float: right;
    margin: 1em 1em;
}

.social-nav img {
    height: 2em;
}

header nav {
    display: flex;
    width: 100%;
    height: 5em;
    background: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0.2) 100%);
}
