* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    background: var(--background-image);
    background-attachment: fixed;
    background-size: cover;
    font-family: var(--main-font);
    font-weight: 300;
    margin: 0;
    padding: 0;
}

main {
    margin: 6% auto 0 auto;
    width: 75%;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

header,
body,
.main-nav ul {
    margin: 0;
}

header nav li,
.main-nav>* {
    display: inline-block;
}

.main-nav,
.main-nav ul,
.social-nav {
    padding: 0;
}

.main-nav ul {
    flex: 4;
}

.main-nav li {
    float: left;
    padding: 0 5px;
}

.main-nav li a {
    line-height: 3em;
    font-weight: 100;
    font-size: 1.5em;
    color: var(--text-color);
    text-decoration: none;
    padding: 1em 0;
}

.main-nav li a:hover {
    text-decoration: var(--text-color) solid underline;
}

.main-nav li:not(:first-child) {
    border-left: 1px solid var(--border-color);
}

.main-nav:first-child {
    float: left;
    border-left: 0;
}

.main-nav:first-child img {
    height: 5em;
    padding: 0 2em;
    background-color: var(--nav-image-bg-color);
}

.social-nav {
    flex: 1;
    margin: 0 2em 0 0;
}

.social-nav li {
    float: right;
    margin: 1.5em 1em;
}

.social-nav li label input[name=versionSite] ~ a {
    line-height: 2em;
}

.social-nav img {
    height: 2em;
    border-radius: 10%;
}

header {
    position: fixed;
    width: 100vw;
    z-index: 10;
}

header nav {
    display: flex;
    width: 100%;
    height: 5em;
    background: var(--nav-background);
}

footer {
    display: flex;
    background: var(--footer-background);
    padding: .5em;
    flex-shrink: 0;
    color: var(--text-color);
}

footer * {
    margin: 0;
}

footer img {
    height: 3em;
}

footer a {
    color: var(--text-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline var(--link-color) solid;
}

footer a:hover img {
    animation-name: tuile;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

footer>*:first-child {
    flex: 20;
}

footer>*:nth-child(2) {
    flex: 1;
    border-left: solid 1px var(--border-color);
}

footer>*:last-child {
    flex: 5;
}


body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body>header,
body>main {
    flex: 1;
}

input+a {
    color: var(--text-color);
}

main>article {
    width: 75%;
    margin: 2em auto;
    background-color: var(--nav-image-bg-color);
    padding: 3em;
}

form>* {
    display: block;
    margin: 1em;
}

form a {
    color: var(--text-color);
    text-decoration: none;
    padding: .5em;
    background-color: var(--button-color);
    border: var(--border-color) solid 1px;
}
form a:hover {
    color: var(--button-color);
    background-color: var(--text-color);
    border-color: var(--button-color);
}

.source {
    float: right;
}

.link {
    height: 1em;
    filter: var(--link-filter);
}